.homeDark {
    width: 100%;
    height: auto;
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

.homeLight {
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%)
}

.countriesSelector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px;
}

.countriesWrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    gap: 50px;
}

.countries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding-top: 45px;
    gap: 45px;
}

@media only screen and (max-width: 375px) {}

@media (max-width: 576px) {
    .countriesSelector {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
        justify-content: start;
        padding-top: 25px;
        gap: 20px;
    }

    .countries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}