.backButtonDark {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    gap: 5px;
    border-radius: 4px;
    background-color: hsl(210, 21.8%, 21.6%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.backButtonLight {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    gap: 5px;
    border-radius: 4px;
    background-color:hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
